
.flashcardContainer {
  /* display: flex; */
  /* transition: transform 0.6s ease; */
  /* width: 90%; */
  /* height: 400px; */
  /* position: absolute; */
  /* background-color: white; */
  /* border-radius: 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.blue{
  background-color: dodgerblue;
}

.flashcard {
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 20px; */
  /* align-items: center; */
  /* box-sizing: border-box; */
  /* cursor: pointer; */
}

/* .flipped{
  transform: rotateX(180deg);
} */


/* .transform {
  transform: rotateX(180deg);
} */

/* .exit{
  opacity: 0;
  animation: exit 0.5s ease;
}

@keyframes exit{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  50%{
  }
  100%{
    opacity: 1;
    transform: translateX(-100%);
  }
}

.current{
  transform: translateX(0);
}

.next{
  transform: translateX(100%);
} */

.headingContainer {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
}

/* .heading {
  margin: 0;
  font-size: 12px;
  color: var(--grey);
  width: 100%;
} */

/* .text {
  font-size: 20px;
  color: var(--coffee);
  margin: 40px 0 0 0;
  position: absolute;
  top: 30%;
} */

/* @media screen and (min-width:768px){
  .text{
    font-size: 25px;
  }
} */

.innerContent{
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  /* transform-style: preserve-3d; */
  /* transition: transform 0.6s ease; */
}



/* .flipped .innerContent{
  transform: rotateX(180deg);
} */

.front, .back {
  /* position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; */
}

.front {
  /* z-index: 1; */
  /* transform: rotateX(0deg); */
}

.back {
  /* z-index: 2; */
  /* transform: rotateX(180deg); */
}

/* .buttonContainer{
  display: flex;
  gap: 15px;
  margin: auto 0 0 0;
} */

