.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 4px solid #d1d5db;
  border-top: 4px solid #3f83f8;
  animation: spin 1s ease infinite;
}

.spinnerText {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #3f83f8;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  
  100%{
    transform: rotate(360deg);
  }
}
