.card {
    width: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 25px;
      border: 1px solid var(--grey-light);
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.heading {
  font-size: 23px;
  font-weight: 600;
  color: var(--coffee);
  margin: 0;
}

.subheading{
    font-size: 13px;
    margin: 4px 0 20px 0;
    color: var(--grey);
}

.icon {
  width: 18px;
  margin-top: 5px;
}

.formContainer{
  display: grid;
  row-gap: 20px;
}

@media screen and (min-width:768px){
  .formContainer{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;
    row-gap: 0;
  }
}
