<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/woe7ny588n/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/13u2rpcwyg/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/9h92azyzgo/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/td9vgdv8er/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/6m6itmqbb0/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/oax8wto631/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/zk1d0dxwtw/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/5xkk2x1hkx/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/gk7mwegut1/out.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://export.supademo.com/renders/f22g4oq8hl/out.png"
    />
  </head>
  <body>
    <h1>
      <a
        href="https://app.supademo.com/demo/cmgmbe5sv06xmywygm9v6flaw"
        target="_blank"
        rel="noreferrer"
        >Supademo Demo</a
      >
    </h1>
    <div><b>Author:</b> Satjeet Singh</div>
    <div><b>Steps:</b> 10</div>
    <div>
      <b>Source:</b>
      <a
        href="https://app.supademo.com/demo/cmgmbe5sv06xmywygm9v6flaw"
        target="_blank"
        rel="noreferrer"
        >Supademo</a
      >
    </div>
    <hr />
    <div id="step-1">
      <h3><p>1. Click on "Big Mouth Billy Bass".</p></h3>
      <img
        src="https://export.supademo.com/renders/woe7ny588n/out.png"
        alt="1"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-2">
      <h3><p>2. Next, click on "Save &#x26; Next".</p></h3>
      <img
        src="https://export.supademo.com/renders/13u2rpcwyg/out.png"
        alt="2"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-3">
      <h3><p>3. Once that's done, click on "1".</p></h3>
      <img
        src="https://export.supademo.com/renders/9h92azyzgo/out.png"
        alt="3"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-4">
      <h3><p>4. Click on "Save &#x26; Next".</p></h3>
      <img
        src="https://export.supademo.com/renders/td9vgdv8er/out.png"
        alt="4"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-5">
      <h3><p>5. Afterwards, click on "Mescaline".</p></h3>
      <img
        src="https://export.supademo.com/renders/6m6itmqbb0/out.png"
        alt="5"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-6">
      <h3><p>6. Click on "Save &#x26; Next".</p></h3>
      <img
        src="https://export.supademo.com/renders/oax8wto631/out.png"
        alt="6"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-7">
      <h3><p>7. Following that, click on "$956 Million".</p></h3>
      <img
        src="https://export.supademo.com/renders/zk1d0dxwtw/out.png"
        alt="7"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-8">
      <h3><p>8. Click on "Save &#x26; Next".</p></h3>
      <img
        src="https://export.supademo.com/renders/5xkk2x1hkx/out.png"
        alt="8"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-9">
      <h3><p>9. To end, click here.</p></h3>
      <img
        src="https://export.supademo.com/renders/gk7mwegut1/out.png"
        alt="9"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <div id="step-10">
      <h3><p>10. Enjoyed the guided demo?</p></h3>
      <img
        src="https://export.supademo.com/renders/f22g4oq8hl/out.png"
        alt="10"
        style="border: 1px solid #c2c2c2"
      />
    </div>
    <hr />
    <div>
      <a
        href="https://app.supademo.com/demo/cmgmbe5sv06xmywygm9v6flaw"
        target="_blank"
        rel="noreferrer"
        ><em>This workflow was created with Supademo.</em></a
      >
    </div>
    <div style="position: relative; box-sizing: content-box; max-height: 80vh; max-height: 80svh; width: 100%; aspect-ratio: 1.9979188345473464; padding: 40px 0 40px 0;"><iframe src="https://app.supademo.com/embed/cmgmbe5sv06xmywygm9v6flaw?embed_v=2&utm_source=embed" loading="lazy" title="Supademo Demo" allow="clipboard-write" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
  </body>
</html>

