@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: 'Hando';
src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot");
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.svg#Sharp Grotesk Medium 20 Regular")format("svg");}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective-1000{
    perspective: 1000px;
  }
  .backface-hidden{
    backface-visibility: hidden;
  }
}

:root {
  /* font */
  --Inter: "Inter";

  /* color */
  --grey: #495057;
  --coffee: #2e2e2e;
  --green: #0e9f6e;
  --grey-light: #e0e0e0;
  --blue: #3f83f8;
  overflow-x: hidden;
}

*{
  /* outline: 1px solid red; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html {
  /* font-family: var(--Inter); */
  /* font-family: "Nimbus"; */
  /* box-sizing: border-box; */
  height: 100% !important;
  width: 100%;
    min-height: 100% !important;

}

body {
  /* position: relative; */
  /* display: flex; */
  height: 100% !important;
  width: 100%;
  flex-direction: column;
  /* box-sizing: border-box; */
  /* margin: 0 auto; */
  max-width: 100%;
    min-height: 100% !important;

}

@media screen and (min-width:768px){
  body{
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);  }
}

button {
  font-family: var(--Inter);
}

#root {
  height: 100% !important;
  min-height: 100% !important;
  /* overflow-y: scroll; */
  width: 100vw;
  /* position: relative; */
}

@media screen and (min-width:768px){
  #root{
    /* overflow-y: hidden; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
  }
}
